= semantic_form_for @photo, html: { multipart: true } do |f|
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :image, as: :file
    = f.input :remote_image_url, as: :string, label: 'or image URL'

  = f.actions do
    = f.action :submit, :as => :input
